form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .Q1 {
	list-style:none;
	width:500px;
	margin:0;
	padding:0 0 35px;
	display:block;
	border-bottom:2px solid #efefef;
}
form .Q1:last-of-type {border-bottom:0;}
form .Q1:before {
	content: '';
	position:relative;
	top:11px;
	left:0%;
	display:block;
	background-color:#efefef;
	height:4px;
	width:78%;
}
form .Q1 li {
	display:inline-block;
	width:19%;
	text-align:center;
	vertical-align: top;
}
form .Q1 li input[type=radio] {
	display:block;
	position:relative;
	top:0;
	left:50%;
	margin-left:-6px;
}
form .Q1 li label {width:100%;}